%h1 購入確認

%p こちらの内容で購入してよろしいですか？

= render 'orders/items_and_prices', items: @order.order_items, order: @order

= render 'orders/postal_data', order: @order

= form_tag(confirmed_order_path, method: :post) do
  %button.btn.btn-primary{type:"submit"} 購入する

= link_to 'カートに戻る', carts_path
